.option-table {
  border-radius: 4px;
  padding: 8px;
}

.boxplot {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  border-left: solid 1px #00000033;
  border-right: solid 1px #00000033;
}

.boxplot-entry {
  display: block;
  height: 20px;
}

.boxplot-entry hr {
  color: black;
  border: none;
  border-top: dashed 1px black;
}

.q25 {
  border-left: solid 1px black;
}

.q50 {
  border: solid 1px black;
  border-right: none; /* prevents middle from being extra thick */
}

.q75 {
  border: solid 1px black;
}

.max {
  border-right: solid 1px black;
}

.boxplot * {
  border-color: var(--text-light);
  border-width: 2px;
}

.boxplot:hover * {
  border-color: var(--text-medium);
  border-width: 2px;
}

.boxplot.selected * {
  border-color: var(--primary-green);
}

.boxplot.selected:hover * {
  border-color: var(--primary-green-darker);
}

.option-name {
  color: var(--text-light);
}
