.list-list {
    background: var(--background-light);
    border-radius: var(--small-border-radius);
    padding: 0;
    margin: 0;
    width: 99%;
    display: block;
}

.list-item-holder {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    width: 100% !important;
    margin: 0;
    padding: 0;
}