.list-list {
    background: var(--background-light);
    border-radius: var(--small-border-radius);
    padding: 0;
    margin: 0;
    width: 99%;
    display: block;
}

.list-input-div {
    display: flex;
    margin: 8px;
    padding: 8px;
    justify-content: center;
    text-align: center;
}

.list-input-refresh {
    display: flex;
    width: 32px;
    height: 32px;
    font-size: var(--font-size-large);
    border-radius: 999px;
    margin: 0 0 0 8px;
    background: var(--light-primary);
    border: none;
    align-items: normal;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    user-select: none;
}

.list-input-refresh:hover {
    background: var(--light-secondary);
}

.list-input-refresh:active {
    background: var(--light-tertiary);
}

.list-item-holder {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
    width: 100% !important;
    margin: 0;
    padding: 0;
}