.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    padding: 8px;
    background-color: var(--dark-primary);
    color: var(--background-light);
    text-align: left;
    border-radius: 6px;

    width: 320px;

    position: absolute;
    z-index: 1;
}

.tooltiptext p {
    margin: 4px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}