.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    overflow: hidden;
    padding: 8px;
    background-color: var(--dark-primary);
    color: var(--background-light);
    text-align: left;
    border-radius: 6px;

    width: 240px;

    position: absolute;
    z-index: 1;
}

.tooltip-text p {
    overflow: hidden;
    z-index: 4;
    margin: 4px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}